<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat7777</title>
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <h1 class="title">Chat<span class="chat7-1">7</span><span class="chat7-2">7</span><span class="chat7-3">7</span><span class="chat7-4">7</span></h1>

  <main class="chat">
    <section class="messages"></section>
    <section class="input">
      <input type="text" class="input-message">
      <button class="send-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.467 8.467"><path fill="#0d625d" d="M7.966 4.242c0 .983-5.696 4.272-6.547 3.78-.851-.491-.851-7.069 0-7.56.851-.492 6.547 2.797 6.547 3.78z"/></svg>
      </button>
    </section>
  </main>

  <script src="app.js"></script>
</body>
</html>